name: 'fe : test'

on:
  workflow_dispatch:
  pull_request:
    branches: ['main']
    paths:
      - 'fe/**'
  push:
    branches: ['main']
    paths:
      - 'fe/**'

jobs:
  test-fe:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .makefiles
            config.json
            Makefile
            fe
      - name: Run tests
        run: make fe-test
